.cuadrado{

	border-radius: 0px !important;
}
.centrado{

	margin-left: 100px !important;

	margin-right: 100px !important;

	padding-left: 100px !important;

	padding-right: 100px !important;
}
.redondeado{

	border-radius: 4px !important;
}
.negro{
	background-color: #222 !important;

	border-color: #080808 !important;
	color: #fff !important;
}